@import "tailwindcss";

@layer base {
  html, body, #root {
    @apply m-0 p-0 h-full w-full;
  }
}

@layer utilities {
  .scrollbar-hide {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }

  .scrollbar-hide::-webkit-scrollbar {
    display: none;
  }
}